<p>
<div class="container">
<div class="card card-block">
  <h1 class="card-title">Tracks</h1>
  <p class="card-text">

 <p>
<div class="container">
<table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
   
   <tbody>
     <% @tracks.each do |track| %>
      <td><%= track.title %></td>
      <td><%= track.description %></td>
      <td><%= link_to 'Activities', track_path(track) %></td>
      <% if current_user.admin? %>
      <td><%= link_to 'Edit', edit_track_path(track) %></td>
      <td><%= link_to 'Destroy', track_path(track),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>  
      <% end %>
      <td></td>
      <td></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% if current_user.admin? %>
<%= link_to 'New', new_track_path  %>
<% end %>
</div>
</p>
</div>
</div>


