<div class="container-fluid">
<h1>Tracks</h1>
 
 <p>
<div class="container">
<table class="table table-striped">
  <tr>
    <th>Group</th>
    <th>Track ID</th>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

 
   
     <% @tracks.each do |track| %>
     <%= form_tag create_selection_track_path(:create_selection), {method: 'post'} do %>
    <tr>
      <td><%= select_tag 'selection[group_id]', options_for_select(@user.groups.collect { |g| [g.title, g.id] } ), { class: 'form-control'} %></td>
      <td><%= track.id %></td>
      <td><%= track.title %></td>
      <td><%= track.description %></td>
      <td><%= link_to 'Activities', track_path(track) %></td>
      <% if current_user.admin? %>
      <td><%= link_to 'Edit', edit_track_path(track) %></td>
      <td><%= link_to 'Destroy', track_path(track),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>  
      <td><%= submit_tag 'Add', class: 'btn btn-success' %></td> 
      <% end %>
      <% end %>
      <td></td>
      <td></td>
    </tr>
  <% end %>
</table>
<% if current_user.admin? %>
<%= link_to 'New', new_track_path  %>
<% end %>
</div>
</div>


