<p id="notice"><%= notice %></p>

<div class="container-fluid">

<div class="container">
  <h1><%= @track.title %></h1>
    
  <h3><%= @track.description %></h3>
    
</div>
<p>
<div class="container">
<h4>Activities</h4>

<table class="table table-striped">
  
  <% @track.activities.each do |activity| %>
   <tr>
    <td><%= activity.title %></td>
    <td><%= link_to 'Begin', receive_track_activity_path(activity.track, activity) %></td>
    <td><%= link_to 'Edit', edit_track_activity_path(activity.track, activity) %></td>
    <td><%= link_to 'Destroy',track_activity_path(activity.track, activity), method: :delete %></td>
  </tr>
<% end %>
</table>

<p>
<div class="action">
<%= link_to 'New Activity', new_track_activity_path(@track) %><br />
<%= link_to 'Back to Tracks', tracks_path %>
</div>
</div>

