<p>
<div class="container">
<div class="card card-block">
  <h1 class="card-title"><%= @track.title %></h1>
  <p class="card-text">
    
  <p><%= @track.description %></p>
   
<p>
<div class="container">

<table class="table table-striped">
  <thead>
    <th><h4>Activities</h4></th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

  <% @track.activities.each do |activity| %>
   <tr>
    <td><%= activity.title %></td>
    <td><%= link_to 'Begin', receive_track_activity_path(activity.track, activity) %></td>
    <% if current_user.admin? %>
    <td><%= link_to 'Edit', edit_track_activity_path(activity.track, activity) %></td>
    <td><%= link_to 'Destroy',track_activity_path(activity.track, activity), method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<p>
<div class="action">
<% if current_user.admin? %>
<%= link_to 'New Activity', new_track_activity_path(@track) %>  |<% end %>
<%= link_to 'Back to Tracks', tracks_path %>
</div>
</p>
</div>
</div>

