<p>
<div class="container">
<div class="card card-block">
  <h1 class="card-title"><%= @group.title %></h1>
</div>

  <div class="card card-block">
  <p class="card-text">
  <% if @group.errors.any? %>
    <div id= "error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
        <% @group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<p>
<table class= "table table-striped">
  <tbody>
     <thead>
      <th>Group Members</th>
      <th>Email</th>
      <th>Role</th>
      <th></th>
    </thead>
    <% if @group.roles.empty? %>
      <tr>
        <td> There aren't any members of this group. Add one now...</td>
        <td></td>
        <td></td>
      <% end %>
      </tr>

    <% else @group.roles.each do |role| %>
       <tr>
         <td><%= role.user.name %></td>
         <td><%= role.user.email %></td>
         <td><%= role.role_type %></td>
         <td><%= link_to 'Remove', role, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
    <% end %> 
     
     <tr>
       <%= form_tag url_for(action: :create_role), {method: 'post'} do %>
         <td><%= text_field_tag 'role[user][email]',"", class: 'form-control', placeholder: 'john@example.com' %></td>
         <td><%= select_tag 'role[role_type]', options_for_select(Role.role_types.to_a.map(&:first), :student), { class: 'form-control'} %></td>
        <td><%= submit_tag 'Add', class: 'btn btn-success' %></td>
        <td></td>
      <% end %>
    </tr>
  </tbody>
</table>
</div>
 <p></p>

<div class="card card-block">
<p>
<table class="table table-striped">
  <tbody>
    <thead>
      <th>Selected Tracks</th>
      <th></th>
    </thead>
  
  <% if @group.tracks.empty? %>
    <tr>
      <td>There aren't any tracks selected for this group. Add one now...</td>
    </tr>
    <% end %>
  
  <!--<% @group.tracks.each do |track| %>
    <tr>
      <td><%= track.title %></td>
      <td><%= link_to 'Remove', delete_track_group_path(@group, track), method: :delete, class: 'btn btn-danger' %></td>
    </tr>
  <% end %>-->

  <% @group.selections.each do |selection| %>
    <tr>
      <td><%= selection.track.title %></td>
      <td><%= link_to 'Remove', selection, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
    </tr>
  <% end %>

  
  <tr>
    <%= form_tag url_for(action: :add_track), {method: 'post'} do %> 
      <td><%= select_tag :track_id, options_for_select(@track_options.collect{ |t| [t.title, t.id]}) %></td>
      <td><%= submit_tag 'Add', class: 'btn btn-success' %></td>
    <% end %>
  </tr>
  </tbody>
</table>
</div>
<p>
<%= link_to 'Back', groups_path %>  |
<%= link_to 'Go to Group Page', group_posts_path(@group) %>
</p>
</div>
</div>




