<div class="container-fluid">


<div class="row-fluid">
  <div class="col-sm-4">
  wikis for: prayer requests, bible reading, profile, prayer exercises, etc. Some possibilities for personalization here.
  </div>
  <p>

  <div class="col-sm-4">
    <div class="container-fluid">
       <h1><%= @user.name %>'s Journal Entries</h1>
         <%#= render 'list' %>
         <%= link_to 'New Journal Entry', new_journal_path %>
    </div>
  </div>
</div>

<div class="col-sm-4">
  <h3>My Groups</h3>
  <div class="container-fluid">
    <% @user.groups.each do |group| %>
         <%= group.title %>
         <%= link_to 'Show', group_posts_path(group) %><br />
      <% end %>

  </div>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @journals.each do |journal| %>
      <tr>
        <td><%= link_to 'Show', journal %></td>
        <td><%= link_to 'Edit', edit_journal_path(journal) %></td>
        <td><%= link_to 'Destroy', journal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


</div>