<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title"><%= @user.name %>'s Journal Entries</h4>
          <!--<a href="<%= new_journal_path %>" class="card-link">New Journal Entry</a>-->
          <div class="container">
            <%= form_for :journal, url: journals_path do |f| %>
              <p>
              <div class="form-group">
                <%= f.label :new_journal_entry %><br>
                <%= f.text_area :entry, :rows => "3", class: "form-control" %>
              </div>
              <div class="actions">
                <%= f.submit "Save Entry"  %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <% @journals.each do |journal| %>
       <div class="card">
         <div class="card-block">
           <h4><%= journal.created_at.strftime("%B %e, %Y") %></h4>
           <p><%= journal.entry %></p>
           <a href="<%= edit_journal_path(journal) %>" class="card-link">Edit</a>  |
           <%= link_to 'Delete', journal_path(journal), method: :delete, data: { confirm: 'Are you sure?' } %> |
           <a href="#" class="card-link">Share with Group</a>
         </div>
       </div>
      <% end %>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">You are on your personal page.</h4>
          <p>New posts will be kept private unless shared with a group.</p>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">My Groups</h4>
            <div class="container-fluid">
              <% @user.groups.each do |group| %>
                <a href="<%= group_posts_path(group) %>" class="list-group-item list-group-item-action"><%= group.title %></a><br />
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
