<div class="card card-block" >
  <div class="card-header">
    <%= post.user.name %><br />
    <%= post.group.title %> Group
  </div>
  <div class="card-block">
      <p class="card-text"><%= post.content %></p>
  </div>
  <div class="card-footer">
    <%=post.published.strftime("%B %e, %Y %I %p") %><br />
    <% if policy(post).edit? %>
    <%= link_to 'Edit', edit_group_post_path(post.group, post) %>
    <% end %>
    <% if policy(post).destroy? %> 
    <%= link_to 'Delete', group_post_path(post.group, post), method: :delete, data: { confirm: 'Are you sure?'} %>
    <% end %>
  <%#= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?'} %>
  <%#= link_to 'Edit', edit_post_path(post) %>
  </div>

</div>
