<div class="container-fluid">

<div class="row-fluid">
  <div class="col-sm-4">
    <h2>New Activity</h2>
      <div class="container">
        <% @tracks.each do |track| %>
         <div class="card" style="max-width: 20rem;">
           <div class="card-header"><%= track.title %></div>
           <div class="card-block">
             <p class="card-text"><%= track.description %></p>
           </div>
           <div class="card-footer">
             <%= link_to 'Activities', track_path(track) %>
           </div> 
         </div>
         <% end %>
      </div>
      <p>
      <h3>My Groups</h3>
        <div class="container-fluid">
      <% @user.groups.each do |group| %>
         <%= group.title %>
         <%= link_to 'Show', group_posts_path(group) %><br />
      <% end %>
      </div>
  </div>
  



  <p>

  <div class="col-sm-4">
    <div class="container-fluid">
       <h1><%= @group.title %> Group's Posts</h1>
       <%= link_to 'Switch To Your Posts', user_group_posts_path(:group_id) %>  |  <%= link_to 'New Post', new_group_post_path(@group) %><br />
        <%= render 'list' %>
    </div>
  </div>
</div>


<div class="col-sm-4">
  
</div>
