<div class="container-fluid">

<div class="row-fluid">
  <div class="col-sm-4">
    <div class="card card-block">
      <h4 class="card-title">Activities</h4>
      <div class="container">
         <% if @tracks.empty? %>
            <p> There aren't any new activities.</p>
          <% end %>
         <% else @tracks.each do |track| %>
          <div class="card" style="max-width: 20rem;">
            <div class="card-header"><%= track.title %></div>
            <div class="card-block">
                <p class="card-text"><%= track.description %></p>
                <% track.activities.each do |activity| %>
                       <a href="<%= receive_track_activity_path(activity.track, activity) %>" class="list-group-item list-group-item-action"><%= activity.title %></a>
                <% end %>
              
            </div> 
          </div>
         <% end %>
      </div>
      <p>
  </div>
</div>
  
  <p>

  <div class="col-sm-4">
    <div class="card card-block">
      <h4 class="card-title"><%= @group.title %> Group's Posts</h4>
      <div class="container-fluid">
       <%= link_to 'New Post', new_group_post_path(@group) %><br />
       <p>
        <%= render 'list' %>
    </div>
  </div>
</div>
</div>


<div class="col-sm-4">
  <div class="card card-block">
    <h4 class="card-title">You are on the <%= @group.title %> page.</h4>
      <p>New posts will be public.</p>
        <div class="container-fluid">
         <a href="<%= user_group_posts_path(:group_id) %>" class="list-group-item list-group-item-action">Switch to your personal page</a>
      </div>
  </div>

  <div class="card card-block">
    <h4 class="card-title">My Groups</h4>
        <div class="container-fluid">
                       
      <% @user.groups.each do |group| %>
         <a href="<%= group_posts_path(group) %>" class="list-group-item list-group-item-action"><%= group.title %></a>
         
      <% end %>
      </div>
  </div>
</div>
