<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">
            <div class="row">
              <div class="col-sm-9">
                <%= @group.title %> Group's Posts
              </div>
              <div class="col-sm-1">

            <div class="dropdown">
              <button class="btn btn-secondary btn-sm dropdown-toggle pull-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Group Members</button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <% @group.users.each do |user| %>
                <a class="dropdown-item" href="#"><%= user.name %></a>
                <% end %>
              </div>
            </div>
            </div>
            </div>
          </h4>
          <div class="container">
            <%= form_for :post, url: group_posts_path do |f| %>
              <div class="form-group">
                <%= f.label "Join the Conversation:" %>
                <%= f.text_area :content, :rows => "3", class: "form-control" %>
              </div>
              <!--<div class="form-group">
                <%= f.label :post_to %>
                <%= f.select :group_id, options_for_select(@user.groups.collect{ |g| [g.title, g.id] }), class: "form-control"  %>
              </div>-->
              <div class="actions">
                <%= f.hidden_field :group_id, value: @group.id %>
                <%= f.submit "Create Post" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <%= render 'list' %>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">You are on the <%= @group.title %> page.</h4>
          <p>New posts will be public.</p>
          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Switch Groups</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="<%= root_path %>">Go to Personal Journal</a>
              <% @user.groups.each do |group| %>
              <a class="dropdown-item" href="<%= group_posts_path(group) %>">Go to <%= group.title %></a>
              <% end %>
            </div>
      </div>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title">Activities</h4>
          <div class="container">
            <% if @tracks.empty? %>
              <p> There aren't any new activities.</p>
            <% end %>
            <% else @tracks.each do |track| %>
              <div class="card card-block" style="max-width: 20rem;">
                <div align="center">
                  <h4 class="card-title"><%= track.title %></h4>
                </div>
                <div class="card-block">
                  <% track.activities.each do |activity| %>
                    <a href="<%= receive_track_activity_path(activity.track, activity) %>" class="list-group-item list-group-item-action"><%= activity.title %></a></br />
                  <% end %>
                </div> 
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
