<div class="container-fluid">

<div class="row-fluid">
   
  <div class="col-sm-7">
      <div class="card card-block">
      <h4 class="card-title"><%= @user.name %>'s Posts</h4>
      <%= link_to 'New Journal Post', new_user_journal_path(@user) %>
      </div>

      <!--<div class="card card-block">-->
       
        <p>
         <%= render 'list' %>
   
      <!-- </div> -->
  </div>

<div class="col-sm-4">
 
  <div class="card card-block">
    <h4 class="card-title">You are on your personal page.</h4>
      <p>New posts will be kept private unless marked public.</p>
        
  </div>

  <div class="card card-block">
      <h4 class="card-title">My Groups</h4>
     <div class="container-fluid">
    <% @user.groups.each do |group| %>
         <a href="<%= group_posts_path(group) %>" class="list-group-item list-group-item-action"><%= group.title %></a><br />
      <% end %>

  
 </div>     
</div>
</div>





