<p>
  <strong>Activity:</strong>
  <%= activity.title %>
</p>

<p>
  <strong>Receive:</strong>
  <%= activity.receive %>
</p>

<p>
  <strong>Reflect:</strong>
  <%= activity.reflect %>
</p>

<p>
  <strong>Respond:</strong>
  <%= activity.respond %>
</p>

<p>
  <%= link_to 'Edit' %> 
  <%= link_to 'Delete', [activity.track, activity], method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

