<%= form_for([@track, @track.activities.build]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  <p>
    <%= f.label :receive %><br>
    <%= f.text_area :receive %>
  </p>
  <p>
    <%= f.label :reflect %><br>
    <%= f.text_area :reflect %>
  </p>
  <p>
    <%= f.label :respond %><br>
    <%= f.text_area :respond %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>