<div class="container-fluid">
<div class="col-sm-6">
  <div class="card card-block">
    <h4 class="card-title"><%= @activity.track.title %>  |   <%= @activity.title %></h4>
      <div class="container">
        <div class="card">
          <div class="card-header">Receive</div>
            <div class="card-block">
              <p class="card-text"><%= @activity.receive %></p>
            </div>
        </div>
      </div>
  </div> 



  
<%= link_to 'Back', track_path(@activity.track, @activity) %>  |
<%= link_to 'Home', root_url %>  |
<%= link_to 'Next', reflect_track_activity_path %>
</div>  

</div>