<div class="container-fluid">
  <div class="card">
    <div class="card-block">
      <h1 class="card-title">
        <%= @activity.track.title %>
        <h4><%= @activity.track.description %></h4>
      </h1>

<div class="container-fluid">
<div class="card" style="max-width: 20rem;">

  <div class="card-block">
    <h4 class="card-title"><%= @activity.title %></h4>
      <p class="card-text"><%= @activity.reflect %></p>
<!-- Links -->
        
  </div>
 <div>
</div>
</div>
<progress class="progress" style="max-width: 20rem;" value="50" max="100">50%</progress>

<%= link_to 'Back', receive_track_activity_path %>  |
<%= link_to 'Home', root_url %> |
<%= link_to 'Next', respond_track_activity_path %>
</progress>
  </div>
 </div>
</div>
