<div class="container">
  <div class="card">
    <div class="card-block">
      <h1 class="card-title"><%= @activity.track.title %></h1>
      <h4 class="card-title"><%= @activity.title %></h4>
      <p class="card-text">
        <div class="card">
          <h4 class="card-header">Respond</h4>
          <div class="card-block">
            <p class="card-text" style="white-space: pre-line;"><%= @activity.respond %></p>
            <p>I want to respond with a personal post: <%= link_to 'Journal', new_journal_path %></p>
            <p>I want to respond by posting to a group: <%= link_to 'New Post', new_group_post_path(@group) %></p>
          </div>
        </div>
      </p>
      <%= link_to 'Back', reflect_group_track_activity_path(@group) %>  |
      <%= link_to 'Journal', root_url %>  |
      <%= link_to 'Back to Group', group_posts_path(@group) %>
    </div>
  </div>  
</div>

  
 

