<div class="container-fluid">
  <div class="card">
    <div class="card-block">
      <h1 class="card-title">
        <%= @activity.track.title %>
        <h4><%= @activity.track.description %></h4>
      </h1>

<div class="container-fluid">
<div class="card" style="max-width: 20rem;">

  <div class="card-block">
    <h4 class="card-title"><%= @activity.title %></h4>
      <p class="card-text"><%= @activity.respond %></p>
      <p><%= link_to "Create Post" %></p>
      
<!-- Links -->
        
  </div>
 <div>
</div>
</div>


<%= link_to 'Back', reflect_track_activity_path %>  |
<%= link_to 'Home', root_url %>


 
  </div>
 </div>
</div>