<!DOCTYPE html>
<html>
  <head>
    <title>Formed</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= javascript_include_tag 'https://js.stripe.com/v2/' %>

  </head>

  <body>
    
  <nav class="navbar" id="admin">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <% if user_signed_in? %>
             <div class="container">
               <li class="dropdown">
                 <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                   <%= current_user.name %>
                   <span class="caret"></span>
                 </a>
                 <ul class="dropdown-menu" role="menu">
                 <div class="container-fluid">
                  <li><%= link_to 'Profile', edit_user_registration_path %></li>
                  <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
                  </div>
               </ul>
           <% end %>
        </ul>
      </div>
    </div>
  </nav>

    <div class="jumbotron jumbotron-fluid">
      <div class="container">
          <%= link_to image_tag("formed.png", class: 'img-fluid', :size => "200x140"), root_path %>
          <!--<p>Read | Reflect | Respond</p>-->
      </div>
    </div>

   
    <nav class="navbar navbar-toggleable-md">
      <!--<a class="navbar-brand" href="<%= root_path %>">Home</a>-->
      <% if current_user.try(:admin?) %>
      <ul class="nav navbar-nav pull-xs-right">
         
         <li class="nav-item">
         <li class="nav-item">
         
         <a class="nav-link" href="<%= tracks_path %>">Tracks</a>
         </li>
         <li class="nav-item">
         <a class="nav-link" href="<%= groups_path %>">Groups</a>
         </li>
         
         <li class="nav-item">
         <a class="nav-link" href="<%= users_path %>">Users</a>
         
         </li>
    
      </ul>
   <% end %>
    </nav>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
    
    <%= yield %>
  </body>
</html>
