<!DOCTYPE html>
<html>
  <head>
    <title>Formed</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= javascript_include_tag 'https://js.stripe.com/v2/' %>

  </head>

  <body>  
  <nav class="navbar" id="admin">
    <ul class="nav navbar-nav">
      <% if user_signed_in? %>
        <div class="btn-group">  
          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User Settings</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="<%= edit_user_registration_path %>">My Profile</a>
              <a class="dropdown-item"><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></a>
            </div>
          </div>
          <% if current_user.try(:admin?) %> 
          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Organization Admin Options</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="<%= tracks_path %>">Tracks</a>
              <a class="dropdown-item" href="<%= groups_path %>">Groups</a>
              <a class="dropdown-item" href="<%= users_path %>">Users</a>
            </div>
          </div>
          <% end %>
          <% if current_user.try(:admin?) %> 
          <div class="dropdown">
            <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Formed Admin Options</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="<%= tracks_path %>">Tracks</a>
              <a class="dropdown-item" href="<%#= groups_path %>">Organizations</a>
              <a class="dropdown-item" href="<%#= users_path %>">Users</a>
            </div>
          </div>
          <% end %>
        </div>
      <% end %>
    </ul>
  </nav>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <%= link_to image_tag("formed.png", class: 'img-fluid', :size => "200x140"), root_path %>
          <!--<p>Read | Reflect | Respond</p>-->
     </div>
  </div>

   
    <nav class="navbar navbar-toggleable-md">
      <!--<a class="navbar-brand" href="<%= root_path %>">Home</a>-->
      <!--<% if current_user.try(:admin?) %>
      <ul class="nav navbar-nav pull-xs-right">
         
         <li class="nav-item">
         <li class="nav-item">
         
         <a class="nav-link" href="<%= tracks_path %>">Tracks</a>
         </li>
         <li class="nav-item">
         <a class="nav-link" href="<%= groups_path %>">Groups</a>
         </li>
         
         <li class="nav-item">
         <a class="nav-link" href="<%= users_path %>">Users</a>
         
         </li>
    
      </ul>
      <% end %>-->
    </nav>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
    
    <%= yield %>
  </body>
</html>
